@charset 'utf-8';

ul,li{list-style:none;font-size:0;padding:0;margin:0;}
li{font-size:12px;display:inline-block;}

@media (min-width: 768px){
    .nav{min-height:80px;line-height: 2;vertical-align: middle;}
    .nav .logo{width:133px;height:80px;}
    .nav .logo>a{display:block;padding-top:15px;}
    .nav .logo>a>img{max-width: 100%;}
    .nav .navbar{position:relative;border:none;}
    .nav .navbar ul{height:80px;}
    .nav .navbar li{}
    .nav .navbar li a{text-decoration: none; font-size:18px;color:#333;display:block;text-align:center;width:100px;line-height: 80px;}
    .nav .navbar li a:hover{color:#277900;}
    .nav .navbar .active a{color:#277900;}
    .nav .sidebar{top:0;display:inline-block;height:5px;background:#277900;width:100px;position:absolute;-webkit-transition: all .5s;-o-transition: all .5s;transition: all .5s;}
}
@media(max-width: 768px){
    .navbar .navbar-brand img{width:70px;}
}